.column {
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background: #F5F5DC;
}
.card {
    border: 10px solid #FFE4C4;
    padding: 10px;
    margin-bottom: 10px;
}
.completed {
    background-color: #F5F5DC;
    text-decoration: line-through;
}

.form1{
    padding: 10px;
    text-align: center;
    height: 50px;
}


.container{
    text-align: center;
}

.myBtn{

    margin-left: 46%;
}