<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>

<div id="app">
    <product :premium="premium" @add-to-cart="updateCart"></product>
    <product-tabs :reviews="reviews"></product-tabs>
</div>
<div class="header">
    <div class="container">
        <div class="logo">ToDo LIST</div>
        <div class="form">
            <label>
                <input type="text" v-model="todo">
            </label>
            <button v-on:click="addTask">Add a new task</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="toDo">
        <h2>
            <span>TO DO</span>
            <span class="mask-num">10</span>
        </h2>
        <ul class="mask-list">
            <div v-for="(detail, i) in needDoList " :key="i">
                <span>№ {{ i+1 }}|</span>
                <span>Дело: {{ detail }}</span>
                <div>
                    <input type="checkbox" v-on:click="schetRadio">
                    <input type="checkbox" v-on:click="schetRadio">
                    <input type="checkbox" v-on:click="schetRadio">
                    <input type="checkbox" v-on:click="schetRadio">
                    <input type="checkbox" v-on:click="schetRadio">
                    <p>{{schetchik}}</p>
                    <span></span>
                </div>
                <button class="btn-remove">Remove</button>
            </div>
        </ul>
    </div>
    <div class="DoClass">
        <div class="Do">
            <h2>
                <span>Do</span>
                <span class="mask-num">10</span>
            </h2>
            <ul class="mask-list complete-list">
                <div v-for="(detail, i) in needDoListDo " :key="i">
                    <span>№ {{ i+1 }}|</span>
                    <span>Дело: {{ detail }}</span>
                    <div>
                        <input type="checkbox" v-on:change="doneCheck">
                        <input type="checkbox" v-on:change="doneCheck">
                        <input type="checkbox" v-on:change="doneCheck">
                        <input type="checkbox" v-on:change="doneCheck">
                        <input type="checkbox" v-on:change="doneCheck">
                        <span></span>
                    </div>
                    <button class="btn-remove">Remove</button>
                </div>
            </ul>
        </div>
    </div>
    <div class="Done">
        <h2>
            <span>Done</span>
            <span class="mask-num">10</span>
        </h2>
        <div v-for="(detail, i) in needDoListDone " :key="i">
            <span>№ {{ i+1 }}|</span>
            <span>Дело: {{ detail }}</span>
            <div>
                <input type="checkbox" checked>
                <span></span>
            </div>
            <button class="btn-remove">Remove</button>
        </div>
    </div>
</div>
</div>

</body>
</html>