<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
<div id="app">
    <div class="container">
        <div class="title-unput">
            <div class="title-input">
                <form class="form1" @submit.prevent="addCard">
                    <label for="card-title">Заголовок:</label>
                    <input id="card-title" type="text" v-model="newCardTitle" :disabled="columeTaskCount === 5 && !TaskCheck">
                    <button type="submit" :disabled="columeTaskCount === 5 && !TaskCheck">Добавить карточку</button>
                </form>
            </div>
        </div>
    </div>

    <div class="column">
        <h2>Первый столбец</h2>
        <div v-for="card in column1" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <div v-for="item in card.items" :key="item.id" id="check">
                    <input id="itemTesting" type="text" v-model="item.text" required>
                    <input type="checkbox" v-model="item.completed" @change="handleCardPosition(card)" :disabled="columeTaskCount === 5 && !TaskCheck || item.text === ''">
                    <label :class="{ completed: item.completed }"></label>
                </div>
            </ul>
            <form class="Form1" @submit.prevent="addItem(card)">
                <input type="text" v-model="newItemText">
                <button type="submit" :disabled="columeTaskCount === 5 && !TaskCheck">Добавить Пункт</button>
            </form>
        </div>
        <button @click="completeAllTasks">Завершить все задачи</button>
    </div>

    <div class="column">
        <h2>Второй столбец</h2>
        <div v-for="card in column2" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <input type="checkbox" v-model="item.completed" @change="handleCardPosition(card)">
                    <label :class="{ completed: item.completed }">{{ item.text }}</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="column">
        <h2>Третий столбец</h2>
        <div v-for="card in column3" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <input type="checkbox" v-model="item.completed">
                    <span :class="{ completed: item.completed }">{{ item.text }}</span>
                </li>
            </ul>
            <div v-if="card.completedDate">
                Последнее выполнение: {{ card.completedDate }}
            </div>
        </div>
    </div>
</div>
</body>

</html>